<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ICart" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ws1.parasoft.com/glue/store-01" binding="basicHttpBinding"
                bindingConfiguration="ICart" contract="ICart" name="ICart" />
        </client>
    </system.serviceModel>
</configuration>