[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/shaikkhajaibrahim
[access "refs/for/refs/*"]
	read = group user/shaikkhajaibrahim
	push = group user/shaikkhajaibrahim
	label-Code-Review = -2..+2 group user/shaikkhajaibrahim
	label-Verified = -1..+1 group user/shaikkhajaibrahim
	rebase = group user/shaikkhajaibrahim
	removeReviewer = group user/shaikkhajaibrahim
	submit = group user/shaikkhajaibrahim
[access "refs/heads/*"]
	read = group user/shaikkhajaibrahim
	create = group user/shaikkhajaibrahim
	push = +force group user/shaikkhajaibrahim
	pushMerge = group user/shaikkhajaibrahim
[access "refs/tags/*"]
	push = group user/shaikkhajaibrahim
	push = +force group user/shaikkhajaibrahim
