<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalculatorService" />
            </basicHttpBinding>
          <wsHttpBinding>
             <binding name="WsHttpBinding_ICaclulatorService"/>
          </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfHelloWorld/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalculatorService"
                contract="ICalculatorService" name="BasicHttpBinding_ICalculatorService" />
             <endpoint address="http://localhost:8734/Design_Time_Addresses/WcfHelloWorld/Service1/"
                       binding="wsHttpBinding" bindingConfiguration="WsHttpBinding_ICaclulatorService"
                       contract="ICalculatorService" name="WsHttpBinding_ICaclulatorService " 
                       />
        </client>
    </system.serviceModel>
</configuration>